<div class="container mt-4">
    <h2>About Us</h2>
  
    <p>
      Welcome to our Mobile Store! We are dedicated to providing high-quality mobile
      devices and exceptional services to our customers. Our mission is to make the
      latest technology accessible to everyone.
    </p>
  
    <p>
      With a team of passionate experts, we strive to offer a wide range of mobile
      products, from cutting-edge smartphones to reliable accessories. Customer
      satisfaction is our top priority, and we are committed to delivering an
      outstanding shopping experience.
    </p>
  
    <p>
      Thank you for choosing our Mobile Store. Feel free to explore our products and
      services, and don't hesitate to contact us if you have any questions or
      concerns.
    </p>
    <img src="https://th.bing.com/th/id/OIP.5quABFJVmShUHyG_XUbBMQHaEK?w=310&h=180&c=7&r=0&o=5&pid=1.7" alt="Jad 3lik">
  </div>